.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.page-container {
  height: 100%;
  margin: 0px 100px;
}

.page-container h2 {
  margin: 20px 10px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  margin: 10px;
}

@media (max-width: 768px) {
  .page-container {
    margin: 0px 10px;
  }
}

.pokemon-card-list {
  width: 182.74px;
  height: 247px;
  background-color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}